/* --- Geral --- */

@font-face {
    font-family: bebas;
    src: url(../fonts/BebasNeue-Regular.ttf);
}
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}  
* {
    color: #E4E4E4;
}
hr {
    color: #E4E4E4;
}

/* --- Header --- */

header {
    background-color: #007EA7;
    position: sticky;
    top: 0;
}
.headerLogo {
    width: 5rem;
    border-radius: 100%;
    margin: 0.5rem;
}
nav .navbar-nav li a{
    color: #C4C4C4 !important;
}
nav .navbar-nav .active{
    color: #FFF !important;
}

/* --- Main --- */

.mainIntroContainer {
    min-height: 100vh;
    background-color: #007EA7;
}
.mainIntroTitle {
    font-family: bebas;
}

/* --- Responsividade --- */

@media screen and (max-width: 600px) {
    .headerTitle {
        font-size: 1rem
    }
    .headerLogo {
        width: 3rem;
    }
    .mainIntroText {
        font-size: 0.6rem;
    }
    .mainIntroTitle {
        font-size: 3rem;
        line-height: 2.5rem;
    }
}
@media screen and (min-width: 601px) {
    .headerTitle {
        font-size: 1.5rem
    }
    .headerLogo {
        width: 5rem;
    }
    .mainIntroText {
        font-size: 1rem;
    }
    .mainIntroTitle {
        font-size: 6rem;
        line-height: 5rem;
    }
}