/* --- Geral --- */

@font-face {
    font-family: bebas;
    src: url(../fonts/BebasNeue-Regular.ttf);
}
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}  
* {
    color: #E4E4E4;
}
hr {
    color: #E4E4E4;
}

/* --- Header --- */

header {
    background-color: #005C7A;
}
.headerLogo {
    width: 5rem;
    border-radius: 100%;
    margin: 0.5rem;
}
nav .navbar-nav li a{
    color: #C4C4C4 !important;
}
nav .navbar-nav .active{
    color: #FFF !important;
}

/* --- Intro --- */

@keyframes appearLeft {
    from {
        opacity: 0;
        transform: translatex(-100px)
    } 
    to {
        opacity: 1;
        transform: translatex(0px)
    }
}
@keyframes appearRight {
    from {
        opacity: 0;
        transform: translatex(100px)
    } 
    to {
        opacity: 1;
        transform: translatex(0px)
    }
}

.mainIntroContainer {
    background-color: #003249;
    height: 100vh;
}
.mainIntro {
    padding: 2rem 0;
}
.mainIntroTitle {
    font-family: bebas;
}

/* --- Sobre Mim --- */

.sobreMimContainer * {
    color: #003249;
}
.sobreMimContainer {
    background-color: #CCDBDC;
}
.sobreMimTitle {
    font-family: bebas;
    font-size: 3rem;
    margin: 1rem;
    animation: appearLeft ease;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
.sobreMimText {
    animation: appearRight ease;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

/* --- Responsividade --- */

@media screen and (max-width: 600px) {
    .headerTitle {
        font-size: 1rem
    }
    .headerLogo {
        width: 3rem;
    }
    .mainIntroText {
        font-size: 0.7rem;
    }
    .mainIntroTitle {
        font-size: 4rem;
        line-height: 3rem;
    }
    .mainIntroImageContainer img {
        width: 70vw;
    }
}
@media screen and (min-width: 601px) {
    .headerTitle {
        font-size: 1.5rem
    }
    .headerLogo {
        width: 5rem;
    }
    .mainIntroText {
        max-width: 30rem;
        font-size: 1rem;
    }
    .mainIntroTitle {
        font-size: 6rem;
        line-height: 5rem;
    }
    .mainIntroImageContainer img {
        width: 35rem;
    }
}