/* --- Geral --- */

@font-face {
    font-family: bebas;
    src: url(../fonts/BebasNeue-Regular.ttf);
}
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}  
* {
    color: #E4E4E4;
}
hr {
    color: #E4E4E4;
}

/* --- Header --- */

header {
    background-color: #52028b;
    position: sticky;
    top: 0;
}
.headerLogo {
    width: 5rem;
    border-radius: 100%;
    margin: 0.5rem;
}
.headerTitle {
    font-size: 1.5rem
}
nav .navbar-nav li a{
    color: #C4C4C4 !important;
}
nav .navbar-nav .active{
    color: #FFF !important;
}

/* --- Main --- */

.mainIntroContainer {
    min-height: 100vh;
    background-color: #52028b;
}
.mainIntroTitle {
    font-family: bebas;
    font-size: 5rem;
    line-height: 4rem;
}