/* --- Geral --- */

@font-face {
    font-family: bebas;
    src: url(../fonts/BebasNeue-Regular.ttf);
}
@keyframes appearLeft {
    from {
        opacity: 0;
        transform: translatex(-100px);
    } 
    to {
        opacity: 1;
        transform: translatex(0px);
    }
}
@keyframes appearRight {
    from {
        opacity: 0;
        transform: translatex(100px);
    } 
    to {
        opacity: 1;
        transform: translatex(0px);
    }
}
@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    } 
    to {
        opacity: 1;
        scale: 1;
    }
}
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}
* {
    color: #003249;
}
header *, .mainIntro * {
    color: #CCDBDC;
}
/* --- Header --- */

header {
    background-color: #005C7A;
}
.headerLogo {
    width: 5rem;
    border-radius: 100%;
    margin: 0.5rem;
}
nav .navbar-nav li a{
    color: #C4C4C4 !important;
}
nav .navbar-nav .active{
    color: #FFF !important;
}

/* --- Main --- */

main {
    background-color: #CCDBDC;
}
.mainTitles {
    font-family: bebas;
    font-size: 3rem;
    margin: 1rem;
    animation: appearLeft ease;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}


/* --- Intro --- */

.mainIntroContainer {
    background-color: #003249;
    min-height: 100vh;
}
.mainIntro {
    padding: 2rem 0;
}
.mainIntroTitle {
    font-family: bebas;
}

/* --- Sobre Mim --- */

.sobreMimContainer {
    padding: 2.5rem 0;
}
.sobreMimText {
    animation: appearRight ease;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

/* --- Projetos --- */

.projectTitle {
    font-family: bebas;
    width: fit-content;
}
.projDiscript {
    width: 25rem;
    text-align: justify;
    animation: appearLeft ease;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}
.projImg {
    width: 25rem;
    animation: appearRight ease;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}
.downloadBtn {
    background-color: #45B8C4;
    border-color: #45B8C4;
    animation: appear ease;
    animation-timeline: view();
    animation-range: entry 0% cover 15%;
}
.downloadBtn:hover {
    background-color: #31909B;
    border-color: #31909B;
}

/* --- Responsividade --- */

@media screen and (max-width: 600px) {
    .headerTitle {
        font-size: 1rem
    }
    .headerLogo {
        width: 3rem;
    }
    .mainIntroText {
        font-size: 0.7rem;
    }
    .mainIntroTitle {
        font-size: 4rem;
        line-height: 3rem;
    }
    .mainIntroImageContainer img {
        width: 70vw;
    }
    .projImg {
        width: 15rem;
    }
    .projDiscript {
        font-size: 1rem;
        width: 80vw;
    }
    .projIntro {
        text-align: center;
    }
}
@media screen and (min-width: 601px) {
    .headerTitle {
        font-size: 1.5rem
    }
    .headerLogo {
        width: 5rem;
    }
    .mainIntroText {
        max-width: 30rem;
        font-size: 1rem;
    }
    .mainIntroTitle {
        font-size: 6rem;
        line-height: 5rem;
    }
    .mainIntroImageContainer img {
        width: 35rem;
    }
}