/* --- Geral --- */

@font-face {
    font-family: bebas;
    src: url(../fonts/BebasNeue-Regular.ttf);
}
@keyframes appearLeft {
    from {
        opacity: 0;
        transform: translatex(-100px);
    } 
    to {
        opacity: 1;
        transform: translatex(0px);
    }
}
@keyframes appearRight {
    from {
        opacity: 0;
        transform: translatex(100px);
    } 
    to {
        opacity: 1;
        transform: translatex(0px);
    }
}
@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    } 
    to {
        opacity: 1;
        scale: 1;
    }
}
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}
*, .mainIntro * {
    color: #CCDBDC;
}
main * {
    color: #003249;
}

/* --- Header --- */

header {
    background-color: #005C7A;
}
.headerLogo {
    width: 5rem;
    border-radius: 100%;
    margin: 0.5rem;
}
nav .navbar-nav li a{
    color: #C4C4C4 !important;
}

/* --- Main --- */

main {
    background-color: #CCDBDC;
}
.mainTitles {
    font-family: bebas;
    font-size: 3rem;
    margin: 1rem;
    animation: appearLeft ease;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}


/* --- Intro --- */

.mainIntroContainer {
    background-color: #003249;
}
.mainIntro {
    padding: 7rem 0;
}
.mainIntroTitle {
    font-family: bebas;
}

/* --- Sobre Mim --- */

.sobreMimContainer {
    padding: 2.5rem 0;
}
.sobreMimText {
    animation: appearRight ease;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

/* --- Projetos --- */

.projectTitle {
    font-family: bebas;
    width: fit-content;
}
.projDiscript {
    width: 25rem;
    text-align: justify;
    animation: appearLeft ease;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}
.projImg {
    width: 25rem;
    animation: appearRight ease;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}
.downloadBtn {
    background-color: #45B8C4;
    border-color: #45B8C4;
    animation: appear ease;
    animation-timeline: view();
    animation-range: entry 0% cover 15%;
}
.downloadBtn:hover {
    background-color: #31909B;
    border-color: #31909B;
}

/* --- Footer --- */

@keyframes slide {
    50% {
        left: 10%;
        top: -40%;
    }
    100% {
        left: -15%;
        top: -15%;
    }
}

footer {
    background-color: #003249;
}
.socialIcon {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 14px;
    background-color: #fff;
    overflow: hidden;
    position: relative;
    box-shadow: 10px 10px 5px #00000023;
}
.socialIcon svg {
    width: 2rem;
    height: 2rem;
    fill: #9AD1D4;
    transition: all 200ms ease;
}
.socialIcon:hover svg {
    scale: 1.2;
    fill: #f1f1f1;
}
.socialIcon:before {
    background: var(--color);
    content: "";
    position: absolute;
    width: 134%;
    height: 134%;
    left: -110%;
    top: 80%;
    transform: rotate(45deg);
}
.socialIcon:hover:before {
    animation: slide 700ms forwards;
}

.socialIcon:has(.bi-instagram) {
    --color: linear-gradient(45deg, #f9ce34, #ee2a7b, #6228d7);
}
.socialIcon:has(.bi-linkedin) {
    --color: #0077b5;
}
.socialIcon:has(.bi-github) {
    --color: #333;
}
.socialIcon:has(.bi-envelope) {
    --color: #d13737;
}

.footerContactsContainer svg {
    width: 1.7rem;
    height: 1.7rem;
    fill: #9AD1D4;
}
.footerContactsContainer p {
    color: #9AD1D4;
    width: fit-content;
}

/* --- Responsividade --- */

@media screen and (max-width: 600px) {
    .headerTitle {
        font-size: 1rem
    }
    .headerLogo {
        width: 3rem;
    }
    .mainIntroText {
        font-size: 0.7rem;
    }
    .mainIntroTitle {
        font-size: 4rem;
        line-height: 3rem;
    }
    .mainIntroImageContainer img {
        width: 70vw;
    }
    .projImg {
        width: 14rem;
    }
    .projDiscript {
        font-size: 1rem;
        width: 80vw;
    }
    .projIntro {
        text-align: center;
    }
}
@media screen and (min-width: 601px) {
    .headerTitle {
        font-size: 1.5rem
    }
    .headerLogo {
        width: 5rem;
    }
    .mainIntroText {
        max-width: 30rem;
        font-size: 1rem;
    }
    .mainIntroTitle {
        font-size: 6rem;
        line-height: 5rem;
    }
    .mainIntroImageContainer img {
        width: 35rem;
    }
}