/* --- Geral --- */

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@keyframes slide {
    50% {
        left: 10%;
        top: -40%;
    }
    100% {
        left: -15%;
        top: -15%;
    }
}
@keyframes appearLeft {
    from {
        opacity: 0;
        transform: translatex(-100px);
    } 
    to {
        opacity: 1;
        transform: translatex(0px);
    }
}
@keyframes appearRight {
    from {
        opacity: 0;
        transform: translatex(100px);
    } 
    to {
        opacity: 1;
        transform: translatex(0px);
    }
}
@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    } 
    to {
        opacity: 1;
        scale: 1;
    }
}
body {
    background-color: #003249;
}
* {
    text-align: justify;
}
*, .mainIntro * {
    color: #CCDBDC;
}
main * {
    color: #003249;
}
a {
    text-decoration: none;
}

/* --- Header --- */

header {
    background-color: #005C7A;
}
.headerTitle {
    margin: 0;
    font-size: 1em
}
.headerLogo {
    width: 5rem;
    border-radius: 100%;
    margin: 0.5rem;
}
nav a{
    color: #C4C4C4 !important;
}
#translateLinkContainerMd {
    display: none;
    flex: 1;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
}
#translateLinkContainerLg {
    height: 2.5rem;
}
.translateLink:hover * {
    color: #005C7A;
    transition: all 200ms ease;
}
.translateLink {
    margin-right: 0.5rem;
    width: fit-content;
    float: right;
}
.navbar-toggler {
    border-color: #CCDBDC;
    padding: 0;
    position: relative;
    height: 2.5rem;
    width: 2.5rem;
}
.navbar-toggler i {
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #CCDBDC;
}
@media screen and (max-width: 991px) {
    #translateLinkContainerMd {
        display: flex;
        justify-content: end;
        align-items: center;
    }
    #translateLinkContainerLg {
        display: none;
    }
}

/* --- Main --- */

main {
    background-color: #CCDBDC;
}
.mainTitles {
    font-family: Bebas Neue;
    font-size: 2em;
    margin: 1rem;
    animation: appearLeft ease;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}


/* --- Intro --- */

.mainIntroContainer {
    background-color: #003249;
}
.mainIntroText {
    max-width: 30rem;
    font-size: .66em;
}
.mainIntroTitle {
    font-size: 4em;
    line-height: 5rem;
}
.mainIntro {
    padding: 5rem 0;
}
.mainIntroTitle {
    font-family: Bebas Neue;
}
.mainIntroImageContainer img {
    width: 30rem;
}

/* --- Sobre Mim --- */

.sobreMimContainer {
    padding: 2.5rem 0;
}
.sobreMimText {
    animation: appearRight ease;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}
.sobreMim i {
    font-size: 1em;
    margin-right: 0.5rem;
}.sobreTopicContainer {
    animation: appearLeft ease;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

/* --- Projetos --- */

.projectTitle {
    font-family: Bebas Neue;
    width: fit-content;
}
.projDiscript {
    font-size: 1rem;
    width: 25rem;
    margin: 3rem 0;
    animation: appearLeft ease;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}
.projImg {
    width: 25rem;
    border: 4px solid #003249;
    border-radius: 1rem;
    animation: appearRight ease;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}
.downloadBtn {
    background-color: #45B8C4;
    border-color: #45B8C4;
    animation: appear ease;
    animation-timeline: view();
    animation-range: entry 0% cover 15%;
}
.downloadBtn:hover {
    background-color: #31909B;
    border-color: #31909B;
}

/* --- Footer --- */

footer {
    background-color: #003249;
}
.socialIcon {
    width: 4em;
    height: 4em;
    border-radius: 16px;
    border: 2px solid #9AD1D4;
    background-color: #fff;
    overflow: hidden;
    position: relative;
    box-shadow: 10px 10px 5px #00000023;
}
.socialIcon i {
    font-size: 1.5em;
    color: #9AD1D4;
    transition: all 200ms ease;
}
.socialIcon:hover i {
    scale: 1.2;
    color: #f1f1f1;
}
.socialIcon::before {
    background: var(--color);
    content: "";
    position: absolute;
    width: 130%;
    height: 130%;
    left: -110%;
    top: 80%;
    transform: rotate(45deg);
}
.socialIcon:hover::before {
    animation: slide 700ms forwards;
}

.socialIcon:has(.bi-linkedin) {
    --color: #0077b5;
}
.socialIcon:has(.bi-github) {
    --color: #333;
}
.socialIcon:has(.bi-envelope) {
    --color: #d13737;
}

.footerContactsContainer i {
    font-size: 1em;
    color: #9AD1D4;
}
.footerContactsContainer p {
    color: #9AD1D4;
    width: fit-content;
}

/* --- Media Query --- */

@media screen and (max-width: 600px) {
    body {
        font-size: 1em;
    }
    .headerLogo {
        width: 3rem;
    }
    nav .translateLink p {
        display: none;
    }
    .mainIntroTitle {
        line-height: 3rem;
    }
    .mainIntroImageContainer img {
        width: 70vw;
    }
    .projImg {
        width: 14rem;
    }
    .projDiscript {
        width: 80vw;
    }
}
@media screen and (min-width: 601px) {
    body {
        font-size: 1.5em;
    }
}